*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: Open Sans, sans-serif;
    background-color: #eee8ea;
}

header{

    padding: 20px 20px 40px;
    background-color: #eee8ea;
    color: #0a0a0a;
    display: flex;
    border-bottom: solid 2px #e7dce0;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

#header-text{
    max-width: 700px;
    margin: 0;
}

#minilogo {
    fill: none;
    height: 100%;
    stroke: #0a0a0a;
    stroke-miterlimit: 10;
    stroke-width: 5.5px;
    transform-origin: center;
  }

header h1{
    font-family: 'Lora', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
}

header p{
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
}


#grafite{
    background-color: #d89bcb;
    display: block;
    margin: 15px auto;
    border-radius: 30px;
    width: 90%;
    padding: 30px 20px;
    text-align: center;
}

#grafite:hover{
    transform:translateX(-10px);
    box-shadow: #3b0331 3px 3px;
    transition: 800ms;
}

#grafite .artista{
    color: #3b0331;
}

#croche{
    background-color: #8F93D9;
    display: block;
    margin: 15px auto;
    border-radius: 30px;
    width: 90%;
    padding: 30px 20px;
    text-align: center;
}

#croche:hover{
    transform:translateX(-10px);
    box-shadow: #11122b 3px 3px;
    transition: 800ms;
}

#croche .artista{
    color: #11122b;
}

#mosaico{
    background-color: #d8ce42;
    display: block;
    margin: 15px auto;
    border-radius: 30px;
    width: 90%;
    padding: 30px 20px;
    text-align: center;

}

#mosaico:hover{
    transform:translateX(-10px);
    box-shadow: #242101 3px 3px;
    transition: 800ms;
}



#mosaico .artista{
    color: #242101;
}

.card{
    color: #0a0a0a;
    background-color: #fffaf8;
    display: inline-block;
    margin: 10px;
    border: 10px solid #fffaf8;
    border-radius: 20px;
    vertical-align:top;
    max-height: 100%;
    text-align: start;
    font-family: 'Lexend', sans-serif;   
}

.card img{
    display: block;
    border-radius: 20px 20px 0 0;
    width: 300px;
    height: 300px;
}

.card img::after{
    box-shadow: inset 0 0 10px;
}

.card details{
    display: inline-block;
    width: 300px;
    height: auto;
}

.card details summary{
    font-size: 18px;
    padding: 10px;
}

.card details[open] summary{
    padding: 10px 10px 0;
}

.card details p{
    font-size: 18px;
    padding: 0 10px;
    margin-top: 0;
    margin-bottom: 16px;
}

.artista{
    font-size: 50px;
    font-family:'Lora', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 4px 3px #fffaf8;
    text-transform: uppercase;
}

footer{
    background-color: #0f0d05;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #e7ded4;
    margin: 0;
    padding: 20px 10px;
    height: 100%;
    width: 100%;
}

footer div{
    display: inline-block;
    margin: 20px;
    padding: 2px;
    vertical-align: top;
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
}

footer .textinho a{
    color: #F2EAE1;
}

footer .ig ul{
    list-style: none;
}

footer .ig ul li a{
    color: #F2EAE1;
}

footer .fontes ul{
    list-style: none;
}

footer .fontes ul li a{
    color: #F2EAE1;
}

footer .fontes summary{
    padding-bottom: 6px;
}

/*responsividade!*/

@media (max-width: 1060px){
    header h1{
        font-size: 45px;
    }
    .card img{
        width: 250px;
        height: 250px;
    }
    .card details{
        width: 250px;
    }
    .card details summary{
        font-size: 16px;
    }
    .card details p{
        font-size: 16px;
    }
    .artista{
        font-size: 42px;
    }
}

@media (max-width: 700px){
    header h1{
        font-size: 32px;
    }
    .artista{
        font-size: 37px;
        text-shadow: 3px 2px #fffaf8;
    }

    #minilogo{
        width: 50px;
    }
}